<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block head %}{% endblock head %}
    <link rel="stylesheet" href="static/css/bulma.min.css">
    <link rel="stylesheet" href="static/css/font-awesome.min.css">
  </head>
  <body>
    <nav class="navbar">
      <div class="navbar-brand">
          <a class="navbar-item" href="/">Zlin</a>
      </div>
      <div class="navbar-start">
        {% block navbar_buttons %}{% endblock navbar_buttons %}
      </div>
      <div class="navbar-end">
        <a class="navbar-item" href="https://github.com/vrutkovs/zlin" target="_blank">
          <span class="icon" style="color: #333;">
            <i class="fa fa-github"></i>
          </span>
        </a>
      </div>
    </nav>
    <section class="hero is-almost-fullheight">
      <div class="container is-fluid">
        {% block content %}{% endblock content %}
      </div>
    </section>
  </body>
</html>